In [10]:
#Pandas: Series, Dataframe, Index
    #Series => 일반화된 넘파이 배열(레이블을 달 수 있음) + 특수한 경우의 dictionary(동일한 객체 => 빠른 연산 가능)

import pandas as pd
population_dict = {"California" : 3835, "Texas": 2644, "New York": 1965, "Florida" : 1955, "Ilinois": 1288}
population = pd.Series(population_dict)
print(population)
print(pd.Series([2,4,6]))

California    3835
Texas         2644
New York      1965
Florida       1955
Ilinois       1288
dtype: int64
0    2
1    4
2    6
dtype: int64

In [9]:
#DataFrame
area = pd.Series({"California": 4239, "Texas": 6956, "New York": 1412, "Florida" :1703, "Ilinois": 1499})
states = pd.DataFrame({"population": population, "area": area})
states

            population  area
California        3835  4239
Texas             2644  6956
New York          1965  1412
Florida           1955  1703
Ilinois           1288  1499

In [13]:
#Index
ind = pd.Index([2,3,5,7,11])
print(ind.size) #일반적인 배열처럼 연산 가능
ind[1] = 0  #but, 수정 불가능

5

TypeError: Index does not support mutable operations

In [14]:
#데이터 인덱싱과 선택
    #Series에서 데이터 선택
data = pd.Series([0.25,0.5,0.75,1.0], index=["a","b","c","d"])
"a" in data

True

In [21]:
print(data.keys())
print(list((data.items()))) #리스트 형태로 묶어줘야함

Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [8]:
data = pd.Series(["a","b","c"], index = [1,3,5])
data.iloc[0:2]

1    a
3    b
dtype: object

In [12]:
    #데이터 프레임 인덱싱하기
pop = pd.Series({"California": 3833, "Texas":2644, "New York":1965, "Florida":1955,"Ilinois":1288})
data = pd.DataFrame({"area": area, "pop":pop})
data

            area   pop
California  4239  3833
Texas       6956  2644
New York    1412  1965
Florida     1703  1955
Ilinois     1499  1288

In [14]:
print(data["area"]) # 딕셔너리 인덱싱
print(data.area) #같은 결과값주지만 메서드 이름 중복될때등 종종 안됨

California    4239
Texas         6956
New York      1412
Florida       1703
Ilinois       1499
Name: area, dtype: int64
California    4239
Texas         6956
New York      1412
Florida       1703
Ilinois       1499
Name: area, dtype: int64

In [17]:
print(data.values)
print(data.iloc[:3,:2])
print(data.loc[:"Ilinois",:"pop"])

[[4239 3833]
 [6956 2644]
 [1412 1965]
 [1703 1955]
 [1499 1288]]
            area   pop
California  4239  3833
Texas       6956  2644
New York    1412  1965
            area   pop
California  4239  3833
Texas       6956  2644
New York    1412  1965
Florida     1703  1955
Ilinois     1499  1288

In [23]:
print(data["Florida":"Ilinois"])
print(data[data["pop"] > 1500]) #행중심으로

         area   pop
Florida  1703  1955
Ilinois  1499  1288
            area   pop
California  4239  3833
Texas       6956  2644
New York    1412  1965
Florida     1703  1955

In [25]:
#데이터 연산
area = pd.Series({"Alaska": 1723, "Texas": 6956, "California": 4239}, name = "area")
population = pd.Series({"California" : 3833, "Texas" : 2644, "New York": 1965}, name= "population")
population/area #인덱싱 정렬됨을 볼 수 있음 #합집합 #계산불가는 NaN으로 표현

Alaska             NaN
California    0.904223
New York           NaN
Texas         0.380104
dtype: float64

In [28]:
A = pd.Series([2,4,6], index=[0,1,2])
B = pd.Series([1,3,5], index = [1,2,3])
print(A+B)
print(A.add(B,fill_value=0))

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64
0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [33]:
import numpy as np
rng = np.random.RandomState(42)
A = pd.DataFrame(rng.randint(0,20,(2,2)), columns = list("AB"))
B = pd.DataFrame(rng.randint(0,10,(3,3)), columns = list("ABC"))
print(A+B) #인덱스 뿐만 아니라 column도 정렬된걸 볼 수 있다
fill = A.stack().mean() #a전체 값의 평균으로 대체하기
print(B.add(A, fill_value = fill))

      A     B   C
0  13.0  23.0 NaN
1  23.0  12.0 NaN
2   NaN   NaN NaN
       A      B      C
0  13.00  23.00  18.25
1  23.00  12.00  18.25
2  19.25  16.25  15.25